<h1>New Article</h1>
<p>
  <strong>title</strong>
  <%= @article.title %>
</p>
<p>
  <strong>text</strong>
  <%= @article.text %> <br>
</p>

<% if @article.comments.any? %>
  <hr>
  <h2>Comments:</h2>
  <%= render partial: 'comments/comment', collection: @article.comments %>
  <%#= render @article.comments %> <!-- this is a shortcut for the above line -->
<% end %>

<%= render 'comments/form' %>

<hr>
<%= link_to 'back', articles_path %> | <%= link_to 'edit', edit_article_path(@article) %>